.button {
  height: 20px;
  line-height: 18px;
  font-size: 10px;
  float: left;
  border: none;
  background: #fff;
  color: #424242;
  padding: 0 12px;
  border: 1px solid #ccc;
  border-left: none;
  overflow: hidden;
  &.active {
    background: #2196f3;
    color: #fff;
    border-color: #2196f3;
  }
}
